h1 {
    color: red;
}

label {
    color: white;
}

p {
    color: white;
}

/* #id_category_0,
#id_category_1,
#id_category_2, */

/* .radiobutton {
    display: none;
}
label {
    background-color: skyblue;
    padding: 10px 20px;
}
.radiobutton:checked + label {
    background-color: pink;
} */



/* top.html ロゴ用 ↓↓↓↓↓↓↓////////////////////////////// */
/* svg {
    display: block;
    font: 5.5em 'Minsta';
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
} */
/* top.html ロゴ用 ↑↑↑↑↑↑↑↑////////////////////////////// */

.button {
  background-color: transparent;
  border: 2px solid #2e2e2e;
  cursor: pointer;
  letter-spacing: 0.2125rem;
  line-height: 1;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition:
    background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    border 1s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
}

.button a {
  color: #969696;
  font-family: "Varela Round";
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.button .mask {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

.button .shift {
  display: inline-block;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  vertical-align: text-top;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
  color: #fff;
  display: block;
}

.button:hover .mask {
  background-color: #fff;
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
  transform: translateX(5px);
}

.button:active {
  background-color: #fff;
}

.button:active a {
  color: #202020;
  display: block;
}

body.show {
  background-color: #282828;
}
/*
.button:hover {
  background-image: url('http://.com/img/codepen/savvy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
