h1 {
    color: red;
}

label {
    color: white;
}

p {
    color: white;
}

a,
span {
color: lightgreen;
}

/* django calendar用 */
#calendarbox0 {
z-index: 1051;
position: relative;
top:300px;
left:100px;
}
