body{
	font-family: Roboto, "Yu Gothic Medium", YuGothic,  sans-serif;
}



h1 {
    color: #ff3d3d;
}

label {
    color: #fff;
}

p {
    color: #fff;
}


/* ■■■■■■■■■■■ */
/*      黒いボタン用      */
/* ■■■■■■■■■■■ */

.button {
  background-color: transparent;
  border: 2px solid #2e2e2e;
  cursor: pointer;
  letter-spacing: 0.2125rem;
  line-height: 1;
  overflow: hidden;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff80;
  transition:
    background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    border 1s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
}

.button a {
  color: #ffffff80;
  font-family: "Varela Round";
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.button .mask {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

.button .shift {
  display: inline-block;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  vertical-align: text-top;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
  color: #fff;
  display: block;
}

.button:hover .mask {
  background-color: #fff;
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
  transform: translateX(5px);
}

.button:active {
  background-color: #fff;
}

.button:active a {
  color: #202020;
  display: block;
}

body.show {
  background-color: #282828;
}

/* ■■■■■■■■■■■■■■■■■■ */
/*      問題入力フォーマット用          */
/* ■■■■■■■■■■■■■■■■■■ */





/* ■■■■■■■■■■■■■■■■■■ */
/*      問題ナビバー用                  */
/* ■■■■■■■■■■■■■■■■■■ */
#g-nav {
    display: table;
    width: 100%;
    font-weight: bold;
    padding-left: 0;
}
.nav-item {
    display: table-cell;
    list-style-type: none;
    text-align: center;
}
.nav-item a {
    position: relative;
    display: block;
    color: #fff;/* 文字色 */
    padding: 15px 0;
    text-decoration: none;
}
.nav-item a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;/* 下線の幅 */
    height: 3px;
    background-color: #da3c41;
    margin: 5px auto 0;
    opacity: 0;
    transition: 0.2s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}
.nav-item a:hover::after {
    -webkit-transform: translate(-50%, -5px);
    transform: translate(-50%, -5px);
    opacity: 1;
}
/* ■■■■■■■■■■■■■■■■■■ */
/*      問題矢印用                  */
/* ■■■■■■■■■■■■■■■■■■ */
.visually-hidde {
    color: black;
    z-index: 1;
}
.carousel-control-next-icon {
    color: black;
}


/* ■■■■■■■■■■■■■■■■■■ */
/*      テスト結果  タブ用              */
/* ■■■■■■■■■■■■■■■■■■ */
.testTab {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #fff !important;
  margin: 0 !important;
}
.testTab__item {
  flex: 1;
}
.testTab__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.testTab__link:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s ease-out;
}
.testTab__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s ease-out;
}
.testTab__link.on:before {
  width: 50%;
}
.testTab__link.on:after {
  width: 50%;
}





/* ■■■■■■■■■■■■■■■■■■ */
/*      テスト結果  入力フォーム用      */
/* ■■■■■■■■■■■■■■■■■■ */

.testForm {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 320px;
}


.cp_iptxt {
	position: relative;
	width: 100%;
	margin: 3px 0%;
}
.cp_iptxt input[type='number'] {
	font: 15px/24px sans-serif;
  font-size: 24px;
  color: #fff;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 3em;
}
.cp_iptxt input[type='number']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
}
.ef ~ .focus_line:before,
.ef ~ .focus_line:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 100%;
	content: '';
	transition: 0.4s;
	background-color: #da3c41;
}
.ef ~ .focus_line:after {
	right: 0;
	left: auto;
}
.ef:focus ~ .focus_line:before,
.ef:focus ~ .focus_line:after,
.cp_iptxt.ef ~ .focus_line:before,
.cp_iptxt.ef ~ .focus_line:after {
	width: 50%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 12px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #fff;
}
.ef:focus ~ label,
.cp_iptxt.ef ~ label {
	font-size: 16px;
	top: -3px;
	transition: 0.3s;
	color: #da3c41;
}
