{% extends 'study/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height:300px; background-color: aquamarine;">
      <div class="container">
        <h3>START</h5>
      </div>
    </div>
    {% for post in post_list %}
    <div class="carousel-item active" style="height:300px; background-color: aquamarine;">
      <p>{{ post.category }}</p>
    </div>
    <div class="carousel-item active" style="height:300px; background-color: aquamarine;">
      <p>{{ post.title }}</p>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>


{% include 'study/page.html' %}

{% endblock %}