{% extends 'study/index.html' %}

{% block content %}
<p>{{ message }}</p>
{% csrf_token %}
<div class="container" style="width: 360px;">
  <div class="d-flex justify-content-center p-2">
    <form class="ui form" action="" method="POST">
      {% csrf_token %}
      <div>
        <p>教科</p>
        {% for radiobutton in form.category %}
        {{ radiobutton }}
        {% endfor %}
        <p style="line-height: 0.9;">&nbsp;</p> <!-- 空白行の意味 -->
        <p>時間</p>
        {% for radiobutton in form.time %}
        {{ radiobutton }}
        {% endfor %}
        <p style="line-height: 0.9;">&nbsp;</p> <!-- 空白行の意味 -->
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="save btn btn-danger">追加する</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}