{% extends 'study/index.html' %}

{% block content %}
<div class="container mb-3">
  <div class="d-flex justify-content-between">
    <div class="button">
      <a href="{% url 'study:two_input' %}">
        Test
        <span class="shift">›</span>
      </a>
      <div class="mask"></div>
    </div>
    <div class="button">
      <a style="color: #ff0000;">
        Time
        <span class="shift">›</span>
      </a>
      <div class="mask"></div>
    </div>
  </div>
</div>


<!-- <p>{{ message }}</p> -->
<div class="container">
  <div class="d-flex justify-content-center p-2">
    <form class="ui form" action="" method="POST">
      {% csrf_token %}
      <div>
        <p>教科</p>
        {% for radiobutton in form.category %}
        {{ radiobutton }}
        {% endfor %}
        <p style="line-height: 0.9;">&nbsp;</p> <!-- 空白行の意味 -->
        <p>時間</p>
        {% for radiobutton in form.time %}
        {{ radiobutton }}
        {% endfor %}
        <p style="line-height: 0.9;">&nbsp;</p> <!-- 空白行の意味 -->
      </div>

      <div class="button">
        <button type="submit">
          <!-- <a href=""> -->
          O K
          <span class="shift">›</span>
          <!-- </a> -->
        </button>
        <div class="mask"></div>
      </div>


    </form>
  </div>
</div>
{% endblock %}