{% extends 'study/index.html' %}

{% block content %}
<p>{{ message }}</p>
{% csrf_token %}

<div class="d-flex justify-content-center mx-5 ">
  <form class="ui form" action="" method="POST">
    {% csrf_token %}
    <div class=>
      <p>教科</p>
      {% for radiobutton in form.category %}
      {{ radiobutton }}
      {% endfor %}
      <p>時間</p>
      {% for radiobutton in form.time %}
      {{ radiobutton }}
      {% endfor %}
    </div>
    <button type=" submit" class="btn btn-dark mr-10">　 　保　存　 　</button>
    <!-- <button type="submit" class="btn btn-dark" name="save_and_add">保存してもう一つ追加</button>
    <button type="submit" class="btn btn-dark" name="save_and_edit">保存して編集を続ける</button> -->
  </form>
</div>
{% endblock %}