<div class="container" style="width: 360px;">
  <div style="height: 400px;">
    <!-- <svg viewBox="0 0 300 100">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Minsta</text>
      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg> -->
    <h1 style="font-size: 105px;">Minsta!</h1>

  </div>


  <div class="button">
    <a href="{% url 'register:login' %}">
      LOG IN
      <span class="shift">›</span>
    </a>
    <div class="mask"></div>
  </div>


</div>