{% extends 'study/index.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="container mb-3">
  <div class="d-flex justify-content-between">
    <div class="button">
      <a href="" style="color: #da3c41;">
        Test
        <span class="shift">›</span>
      </a>
      <div class="mask"></div>
    </div>
    <div class="button">
      <a href="{% url 'study:index' %}">
        Time
        <span class="shift">›</span>
      </a>
      <div class="mask"></div>
    </div>
  </div>
</div>

<div class="container">
  <form method="POST" class="post-form">
    <!-- <div class="row"> -->
    {% csrf_token %}
    {{ stock_form.non_field_errors }}
    {% for field in test_form %}
    {% if forloop.first %}
    <div class="container">
      <div class="row mb-3">
        {{ field }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p style="text-align:center; margin: 0;">偏差値</p>
      </div>
      <div class="col">
        <p style="text-align:center; margin: 0;">学年順位</p>
      </div>
    </div>
    <!-- <div class="row" > -->
    <!-- 偏差値 -->
    <div class="testForm">
      {% else %}
      <div style="width: 150px;">
        <div class="cp_iptxt">
          {{ field }}
          <label>{{ field.label }}</label>
          <span class="focus_line"></span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!-- </div> -->


    <div class="button">
      <button type="submit">
        <!-- <a href=""> -->
        O K
        <span class="shift">›</span>
        <!-- </a> -->
      </button>
      <div class="mask"></div>
    </div>

  </form>
</div>
<!-- </div> -->

{% endblock %}