{% extends 'study/index.html' %}


{% load static %}

{% block extra_head %}
<!-- for admin widgets カレンダーで使う -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ test_form.media }}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<!-- end for admin widgets -->

<style>
  /* django calendar用 */
  #calendarbox0 {
    z-index: 1051;
    position: relative;
    top: 300px;
    left: 100px;
  }
</style>


{% endblock %}

<!-- style="width: 250px;" -->
{% block content %}
<div class="container">


  <p><a href="{% url 'study:index' %}">学習時間入力</a></p>
  <P>テスト結果(順位)入力</P>

  <form method="POST" class="post-form">
    {{ stock_form.non_field_errors }}
    {% for field in test_form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
      {{ field }}
      <br />
      <p style="line-height: 0.5;">&nbsp;</p> <!-- 空白行の意味 -->
      {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        キャンセル
      </button>
      <button type="submit" class="save btn btn-danger">追加する</button>
    </div>
  </form>
</div>

{% endblock %}