{% extends 'study/index.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="button">
      <a href="" style="color: #da3c41;">
        Test
        <span class="shift">›</span>
      </a>
      <div class="mask"></div>
    </div>
    <div class="button">
      <a href="{% url 'study:index' %}">
        Time
        <span class="shift">›</span>
      </a>
      <div class="mask"></div>
    </div>
  </div>
</div>



<div class="container">
  <form method="POST" class="post-form">
    <div class="mt-4 mb-4">
      {% csrf_token %}
      {{ stock_form.non_field_errors }}
      {% for field in test_form %}
      <div class="container">
        <div class="cp_iptxt">
          {{ field }}
          <label>{{ field.label }}</label>
          <span class="focus_line"></span>
          {{ field.errors }}
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- <p>偏差値を入力してください</p> -->
    <div class="button">
      <button type="submit">
        <!-- <a href=""> -->
        O K
        <span class="shift">›</span>
        <!-- </a> -->
      </button>
      <div class="mask"></div>
    </div>
    <!-- <div class="text-center">
      <button type="submit" class="btn btn-dark mr-10">　 　保　存　 　</button>
    </div> -->

  </form>
</div>
<!-- </div> -->

{% endblock %}